<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="headerMain">
        <div class="headerMainBar">
            <img src="/public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
            <div class="input">
                <input type="text" placeholder="Ingrese producto, marcas..." />
                <button><a href="#"></a><i class="fas fa-search"></i></a></button>
            </div>
            <h2 class="headerH2">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h2>
        </div>
        <a href="#" class="hambur"><i class="fas fa-bars"></i></a>
        <nav class="headerMainNav">
            <ul class="Navbar1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="Navbar2">
                <li><a href="/register.html">Creá tu cuenta <i class="fas fa-credit-card"></i></a></i></li>
                <li><a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></i></li>
            </ul>
        </nav>

    </header>
    <div><img src="../public/images/img-home-banner.jpg" alt="banner de mercado liebre" class="banner" /></div>
    <main>
        <div class="divMainHeader">    
            <div class="imagenes">
                <article>       
                <img src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <h2>Cafetera Moulinex</h2>
                </article>
            </div>     
            <div class="imagenes">
                <article class="oferta2">
                        <img src="/public/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                        <h2>MacBook Pro 2019</h2>
                    </article>
            </div>        
            <div class="imagenes">
                <article class="visita1">
                    <img src="/public/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    <h2>Samsung Galaxy s10</h2>
                </article>
            </div>
            
            <div class="imagenes">
                <article class="visita2">
                    <img src="/public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <h2>TV Samsung smart</h2>
                </article>
            </div class="imagenes">
                               
                    
                  
            
        </div>  
    </main>
    <footer>
        <br>
        <div class="footerContainer">

            <i class="fas fa-credit-card iconofooter"></i>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>

            <i class="fas fa-gift iconofooter"></i>
            <h2>Envío gratis desde $ 2.500</h2>

            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>

            <i class="fas fa-user-shield iconofooter"></i>
            <h2>Seguridad, de principio a fin</h2>

            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>

            <span class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </div>

    </footer>

</body>

</html>